<?xml version="1.0" ?>
  <xsl:stylesheet version="1.0"
                  xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <xsl:output omit-xml-declaration="yes" indent="yes"/>

  <!-- Copy everything from the generated XML -->
  <xsl:template match="node()|@*">
    <xsl:copy>
    <xsl:apply-templates select="node()|@*"/>
    </xsl:copy>
  </xsl:template>

  <xsl:template match="/domain">
      <xsl:copy>
          <xsl:apply-templates select="node()|@*"/>
          <qemu:commandline>
              <qemu:arg value='-arg1'/>
              <qemu:arg value='value1'/>
              <qemu:arg value='-arg2'/>
              <qemu:arg value='value2'/>
              <!-- Add more arguments as needed -->
          </qemu:commandline>
      </xsl:copy>
  </xsl:template>

</xsl:stylesheet>
